.NavigationPanels-Counter__arrow>.NavigationPanels-Counter__arrow_icon {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("{{tree}}") !important;
  background-repeat: no-repeat;
}

.NavigationPanels-Counter__arrow>.NavigationPanels-Counter__arrow_icon polygon {
  display: none;
}

.NavigationPanels-Counter__arrow:hover>.NavigationPanels-Counter__arrow_icon {
  transform: rotate(25deg);
}

.NavigationPanels-Accordion__counter.NavigationPanels-Counter__arrow {
  padding-right: 6px;
}