.NavigationPanels-Accordion__icon.contacts:before,
.NavigationPanels-Accordion__icon.groups:before,
.NavigationPanels-Accordion__icon.ereport:before,
.NavigationPanels-Accordion__icon.icon-cashbox:before,
.NavigationPanels-Accordion__icon.auction:before,
.NavigationPanels-Accordion__icon.sales:before,
.NavigationPanels-Accordion__icon.purchases:before,
.NavigationPanels-Accordion__icon.nomenclature:before,
.NavigationPanels-Accordion__icon.egais:before,
.NavigationPanels-Accordion__icon.icon-Mercury:before,
.NavigationPanels-Accordion__icon.marking:before,
.NavigationPanels-Accordion__icon.icon-Stock:before,
.NavigationPanels-Accordion__icon.icon-Production:before,
.NavigationPanels-Accordion__icon.icon-Money:before,
.NavigationPanels-Accordion__icon.instructStorage:before,
.NavigationPanels-Accordion__icon.icon-work:before,
.NavigationPanels-Accordion__icon.business:before,
.NavigationPanels-Accordion__icon.accounting:before,
.NavigationPanels-Accordion__icon.icon-staff:before,
.NavigationPanels-Accordion__icon.documents:before,
.NavigationPanels-Accordion__icon.icon-contragents:before,
.NavigationPanels-Accordion__icon.icon-calendar:before,
.NavigationPanels-Accordion__icon.icon-calendar:after,
.NavigationPanels-Accordion__icon.icon-Bookkeeping:before,
.NavigationPanels-Accordion__icon.presto:before,
.NavigationPanels-Accordion__icon.retail:before,
.NavigationPanels-Accordion__icon.booking:before,
.NavigationPanels-Accordion__icon.ca_navication:before {
  content: '' !important;
}

.NavigationPanels-Accordion__icon.contacts,
.NavigationPanels-Accordion__icon.groups,
.NavigationPanels-Accordion__icon.ereport,
.NavigationPanels-Accordion__icon.icon-cashbox,
.NavigationPanels-Accordion__icon.auction,
.NavigationPanels-Accordion__icon.sales,
.NavigationPanels-Accordion__icon.purchases,
.NavigationPanels-Accordion__icon.nomenclature,
.NavigationPanels-Accordion__icon.egais,
.NavigationPanels-Accordion__icon.icon-Mercury,
.NavigationPanels-Accordion__icon.marking,
.NavigationPanels-Accordion__icon.icon-Stock,
.NavigationPanels-Accordion__icon.icon-Production,
.NavigationPanels-Accordion__icon.icon-Money,
.NavigationPanels-Accordion__icon.instructStorage,
.NavigationPanels-Accordion__icon.icon-work,
.NavigationPanels-Accordion__icon.business,
.NavigationPanels-Accordion__icon.accounting,
.NavigationPanels-Accordion__icon.icon-staff,
.NavigationPanels-Accordion__icon.documents,
.NavigationPanels-Accordion__icon.icon-contragents,
.NavigationPanels-Accordion__icon.icon-calendar,
.NavigationPanels-Accordion__icon.icon-Bookkeeping,
.NavigationPanels-Accordion__icon.presto,
.NavigationPanels-Accordion__icon.retail,
.NavigationPanels-Accordion__icon.booking,
.NavigationPanels-Accordion__icon.ca_navication {
  background-repeat: no-repeat !important;
  background-position: 12px 12px !important;
}

.NavigationPanels-Accordion__icon.contacts {
  background-image: url("{{christmas-card}}") !important;
}

.NavigationPanels-Accordion__icon.icon-work {
  background-image: url("{{christmas-sock}}") !important;
}

.NavigationPanels-Accordion__icon.icon-staff {
  background-image: url("{{gingerbread-man}}") !important;
}

.NavigationPanels-Accordion__icon.documents {
  background-image: url("{{christmas-card2}}") !important;
}

.NavigationPanels-Accordion__icon.icon-calendar {
  background-image: url("{{christmas-day}}") !important;
}

.NavigationPanels-Accordion__icon.icon-contragents {
  background-image: url("{{snow-globe}}") !important;
}

.NavigationPanels-Accordion__icon.accounting {
  background-image: url("{{christmas-ball}}") !important;
}

.NavigationPanels-Accordion__icon.business {
  background-image: url("{{cabin}}") !important;
}

.NavigationPanels-Accordion__icon.ca_navication {
  background-image: url("{{light}}") !important;
}

.NavigationPanels-Accordion__icon.ereport {
  background-image: url("{{christmas-card3}}") !important;
}

.NavigationPanels-Accordion__icon.auction {
  background-image: url("{{mitten}}") !important;
}

.NavigationPanels-Accordion__icon.purchases {
  background-image: url("{{shopping-bag}}") !important;
}

.NavigationPanels-Accordion__icon.sales {
  background-image: url("{{sale}}") !important;
}

.NavigationPanels-Accordion__icon.egais {
  background-image: url("{{mug}}") !important;
}

.NavigationPanels-Accordion__icon.icon-Mercury {
  background-image: url("{{reindeer}}") !important;
}

.NavigationPanels-Accordion__icon.marking {
  background-image: url("{{champagne}}") !important;
}

.NavigationPanels-Accordion__icon.nomenclature {
  background-image: url("{{gift}}") !important;
}

.NavigationPanels-Accordion__icon.icon-Bookkeeping {
  background-image: url("{{mittens}}") !important;
}

.NavigationPanels-Accordion__icon.icon-cashbox {
  background-image: url("{{sleigh}}") !important;
}

.NavigationPanels-Accordion__icon.icon-Stock {
  background-image: url("{{gift2}}") !important;
}

.NavigationPanels-Accordion__icon.icon-Production {
  background-image: url("{{elf}}") !important;
}

.NavigationPanels-Accordion__icon.icon-Money {
  background-image: url("{{candy-cane}}") !important;
}

.NavigationPanels-Accordion__icon.groups {
  background-image: url("{{cane}}") !important;
}

.NavigationPanels-Accordion__icon.instructStorage {
  background-image: url("{{card}}") !important;
}

.NavigationPanels-Accordion__icon.presto {
  background-image: url("{{santa-claus}}") !important;
}

.NavigationPanels-Accordion__icon.retail {
  background-image: url("{{shopping-bag}}") !important;
}

.NavigationPanels-Accordion__icon.booking {
  background-image: url("{{gift3}}") !important;
}