.acc-contacts:before,
.acc-groups:before,
.acc-icon-Ereport:before,
.acc-icon-ereport:before,
.acc-icon-cashbox:before,
.acc-auction:before,
.acc-sales:before,
.acc-purchases:before,
.acc-icon-Purchases:before,
.acc-nomenclature:before,
.acc-egais:before,
.acc-icon-Mercury:before,
.acc-market:before,
.acc-icon-Stock:before,
.acc-icon-Production:before,
.acc-icon-Money:before,
.acc-instructStorage:before,
.acc-icon-work:before,
.acc-business:before,
.acc-accounting:before,
.acc-icon-staff:before,
.acc-documents:before,
.acc-icon-contragents:before,
.acc-icon-calendar:before,
.acc-icon-calendar:after,
.acc-icon-Clients:before,
.acc-presto:before,
.acc-retail:before,
.acc-booking:before,
.acc-ca_navication:before {
  content: '' !important;
}

.acc-icon-small,
.acc-icon {
  background-repeat: no-repeat !important;
  height: 24px !important;
  width: 24px !important;
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.OnlineSidebar-Sidebar__width_minimal .acc-icon {
  margin-left: 12px !important;
  margin-right: 12px !important;
}

.acc-contacts {
  background-image: url("{{christmas-card}}") !important;
}

.acc-icon-work {
  background-image: url("{{christmas-sock}}") !important;
}

.acc-icon-staff {
  background-image: url("{{gingerbread-man}}") !important;
}

.acc-documents {
  background-image: url("{{christmas-card2}}") !important;
}

.acc-icon-calendar {
  background-image: url("{{christmas-day}}") !important;
}

.acc-icon-contragents {
  background-image: url("{{snow-globe}}") !important;
}

.acc-accounting {
  background-image: url("{{christmas-ball}}") !important;
}

.acc-business {
  background-image: url("{{cabin}}") !important;
}

.acc-ca_navication {
  background-image: url("{{light}}") !important;
}

.acc-icon-Ereport,
.acc-icon-ereport {
  background-image: url("{{christmas-card3}}") !important;
}

.acc-auction {
  background-image: url("{{mitten}}") !important;
}

.acc-icon-Purchases,
.acc-purchases {
  background-image: url("{{shopping-bag}}") !important;
}

.acc-sales {
  background-image: url("{{sale}}") !important;
}

.acc-egais {
  background-image: url("{{mug}}") !important;
}

.acc-icon-Mercury {
  background-image: url("{{reindeer}}") !important;
}

.acc-market {
  background-image: url("{{champagne}}") !important;
}

.acc-nomenclature {
  background-image: url("{{gift}}") !important;
}

.acc-icon-Clients {
  background-image: url("{{mittens}}") !important;
}

.acc-icon-cashbox {
  background-image: url("{{sleigh}}") !important;
}

.acc-icon-Stock {
  background-image: url("{{gift2}}") !important;
}

.acc-icon-Production {
  background-image: url("{{elf}}") !important;
}

.acc-icon-Money {
  background-image: url("{{candy-cane}}") !important;
}

.acc-groups {
  background-image: url("{{cane}}") !important;
}

.acc-instructStorage {
  background-image: url("{{card}}") !important;
}

.acc-presto {
  background-image: url("{{santa-claus}}") !important;
}

.acc-retail {
  background-image: url("{{shopping-bag}}") !important;
}

.acc-booking {
  background-image: url("{{gift3}}") !important;
}