.NavigationPanels-Counter__arrow:empty:before {
  content: '';
  width: 16px;
  height: 16px;
  background-image: url("{{tree}}") !important;
  background-repeat: no-repeat;
}

.ws-is-hover .NavigationPanels-Counter__container_has-hover:hover:empty:before {
  transform: rotate(25deg);
}