.sn-NewsPage__oneNews-contentCollage:before {
   content: 'Показать вложения...';
   color: #8991A9;
   font-size: 12px;
}

.sn-NewsPage__oneNews-contentCollage {
   margin-top: 0px;
   display: inline-block;
}

.sn-NewsPage__oneNews-contentCollage .collage {
   display: none;
}

.sn-NewsPage__oneNews-contentCollage:hover {
   display: block;
   z-index: 1;
   position: relative;
}

.sn-NewsPage__oneNews-contentCollage:hover .collage {
   display: block;
   background: white;
   border: 1px solid #f4f4f4;
}