div.news-SpecialNews {
  display: none !important;
}

#min-width,
.engine-OnlineBaseInnerMinCoreView__content {
  max-width: none;
}

@media screen and (min-width: 1600px) {
  .online-OnlineBaseInnerView__notificationCenter {
    left: inherit !important;
    right: 0 !important;
  }
}