.sn-NewsPage__oneNews-itemAll {
   margin-top: 0 !important;
   border-radius: 0 !important;
}

.sn-NewsPage__oneNews-contentArticle {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.np-View__twoColumns .np-News__item[style*="left: 0px"] .sn-NewsPage__oneNews-itemAll {
   margin-right: 1px !important;
   border-radius: 0 !important;
}

.np-View__twoColumns .np-News__item:not([style*="left: 0px"]) .sn-NewsPage__oneNews-itemAll {
   margin-left: 0 !important;
}

.sn-NewsPage .controls-ItemsToolbar {
   top: 14px;
}