div.news-SpecialNews {
   display: none !important;
}

#min-width,
.engine-OnlineBaseInnerMinCoreView__content {
   max-width: none;
}

@media screen and (min-width: 1618px) {
   .online-OnlineBaseInnerView__notificationCenter {
      right: 17px !important;
      left: inherit !important;
   }
   .engine-OnlineBaseInnerMinCoreView .online-OnlineBaseInnerView__notificationCenter {
      right: inherit !important;
   }
}