.online-OnlineBaseInnerView__notificationCenter {
   display: none !important;
}

.online-OnlineBaseInnerView__notificationButton {
   display: none !important;
}

#headerLeft {
   display: block !important;
}
