.sn-NewsPage__oneNews-contentArticle {
   height: 20px;
}

.sn-NewsPage__oneNews-contentLogoBrif,
.sn-NewsPage__oneNews-contentText:not(.sn-NewsPage__oneNews-NewsOnlyMedia) {
   min-height: 100px !important;
   max-height: 100px !important;
}

.sn-NewsPage__oneNews-contentLogoBrif {
   margin-bottom: 2px !important;
   overflow: hidden;
}

.sn-NewsPage__oneNews-itemAll,
.sn-NewsPage__oneNews {
   min-height: 156px;
}