img.sn-NewsPage__oneNews-contentLogo {
   width: 64px !important;
   height: 64px !important;
}

div.sn-NewsPage__oneNews-withLogo {
   margin-left: 74px !important;
}

.sn-NewsPage__oneNews-contentLogoBrif,
.sn-NewsPage__oneNews-contentText:not(.sn-NewsPage__oneNews-NewsOnlyMedia) {
   min-height: 64px !important;
   max-height: 64px !important;
}

.sn-NewsPage__oneNews-itemAll,
.sn-NewsPage__oneNews {
   min-height: 120px !important;
}