.SBIS-UI-Customizer.TaskToolbarBtns-ExtraButtons {
   display: inline-block;
   border-right: 1px solid #E4E4E4;
   padding-right: 8px;
}

.SBIS-UI-Customizer.TaskToolbarBtns-ExtraButtons i {
   vertical-align: middle;
   cursor: pointer;
   margin-right: 4px;
   height: 24px;
   width: 24px;
   display: inline-block;
}

.SBIS-UI-Customizer.TaskToolbarBtns-ExtraButtons i svg {
   fill: #587AB0;
}

.SBIS-UI-Customizer.TaskToolbarBtns-ExtraButtons i:hover svg {
   fill: #FF7033;
}